<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">


    <!-- A datasource that has pooling capabilities-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close"
          p:driverClass="${jdbc.driver}"
          p:jdbcUrl="${jdbc.db.url}"
          p:user="${jdbc.username}"
          p:password="${jdbc.password}"
          p:acquireIncrement="5"
          p:idleConnectionTestPeriod="60"
          p:maxPoolSize="100"
          p:maxStatements="50"
          p:minPoolSize="10" />


    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" depends-on="dbMigrator">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>com.sharepast.domain</value>
                <value>com.sharepast.domain.user</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>

                <prop key="hibernate.dialect">${hibernate.dialect}</prop>

                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.use_sql_comments">false</prop>
                <prop key="hibernate.max_fetch_depth">1</prop>

                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.connection.autocommit">${hibernate.connection.autocommit}</prop>
                <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
                <prop key="hibernate.connection.isolation">${hibernate.connection.isolation}</prop>

                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.cache.use_minimal_puts">true</prop>
                <prop key="hibernate.cache.use_structured_entries">false</prop>
                <prop key="hibernate.cache.max_fetch_depth">3</prop>

                <prop key="hibernate.c3p0.min_size">10</prop>
                <prop key="hibernate.c3p0.max_size">100</prop>
                <prop key="hibernate.c3p0.timeout">7200</prop>
                <prop key="hibernate.c3p0.acquireRetryAttempts">30</prop>
                <prop key="hibernate.c3p0.acquireIncrement">5</prop>
                <prop key="hibernate.c3p0.idleConnectionTestPeriod">600</prop>
                <prop key="hibernate.c3p0.initialPoolSize">20</prop>
                <prop key="hibernate.c3p0.maxPoolSize">100</prop>
                <prop key="hibernate.c3p0.maxIdleTime">300</prop>
                <prop key="hibernate.c3p0.maxStatements">50</prop>
                <prop key="hibernate.c3p0.minPoolSize">10</prop>
                <prop key="hibernate.c3p0.preferredTestQuery">SELECT 1</prop>
                <prop key="hibernate.c3p0.testConnectionOnCheckout">true</prop>

            </props>
        </property>
    </bean>

    <bean class="org.springframework.orm.hibernate4.HibernateExceptionTranslator"/>


    <bean id="dbMigrator" class="com.sharepast.util.db.CustomSpringLiquibase" depends-on="hsqldbSchemaCreator">
        <property name="dataSource" ref="dataSource" />
        <property name="changeLog" value="classpath:com/sharepast/database/master.xml" />
        <property name="dropFirst" value="${liquibase.dropFirst}"/>
        <property name="execute" value="${liquibase.execute}"/>
        <property name="preview" value="${liquibase.preview}"/>
    </bean>


    <!-- ========================= TRANSACTION MANAGEMENT ========================= -->

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"
          p:dataSource-ref="dataSource" p:sessionFactory-ref="sessionFactory"/>


    <!--For @Transactional-->
    <bean id="txAspect" class="org.springframework.transaction.aspectj.AnnotationTransactionAspect"
            factory-method="aspectOf">
        <property name="transactionManager">
            <ref local="transactionManager"/>
        </property>
    </bean>

   <!-- <tx:advice id="txAdvice" transaction-manager="transactionManager">
        &lt;!&ndash; the transactional semantics... &ndash;&gt;
        <tx:attributes>
            &lt;!&ndash; all methods starting with 'get' are read-only &ndash;&gt;
            <tx:method name="find*" propagation="REQUIRED" read-only="true"
                       rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"
                       rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
        </tx:attributes>
    </tx:advice>-->

    <!--<tx:advice id="ormAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="got" propagation="REQUIRED" read-only="true" rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
            <tx:method name="get" propagation="REQUIRED" read-only="true" rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
            <tx:method name="list" propagation="REQUIRED" read-only="true" rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
            <tx:method name="scroll" propagation="REQUIRED" read-only="true" rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
            <tx:method name="sice" propagation="REQUIRED" read-only="true" rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
            <tx:method name="persist" propagation="REQUIRED" read-only="false" rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
            <tx:method name="delete" propagation="REQUIRED" read-only="false" rollback-for="com.sharepast.persistence.exceptions.ServiceException"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="hibernateMethodsPcut" expression="execution(* com.sharepast.dao.*.*(..))"/>
        <aop:pointcut id="ormMethodsPcut" expression="execution(* com.sharepast.persistence.ORMDao.*(..))"/>
        <aop:advisor advice-ref="ormAdvice" pointcut-ref="ormMethodsPcut"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="hibernateMethodsPcut"/>
    </aop:config>-->

</beans>