#main {
    height: 300px;
    padding: 0;
}
#main #join-development-team {
    background: url("../img/open-door.jpg") no-repeat scroll left center transparent;
    border-right: 1px solid #D8D8D8;
    box-shadow: 1px 0 0 #FFFFFF;
    float: left;
    height: 100%;
    width: 640px;
}
#fedena-intro {
    color: #888888;
    font-weight: bold;
    height: 160px;
    line-height: 1.7em;
    padding: 70px 20px 0 350px;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;
}
#fedena-intro .open-source {
    color: #0085c8;
}
.join-dev-team-link {
    background: url("../img/button-join-development-team.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 50px;
    margin: 0 0 0 330px;
    text-indent: -9999px;
    width: 297px;
}
aside#how-to-install {
    background: url("../img/how-to-install.png") no-repeat scroll 10px 10px transparent;
    float: left;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 318px;
}
aside#how-to-install h3 {
    font-size: 14px;
    margin: 45px 0 0 150px;
    padding: 0;
    text-transform: uppercase;
}
aside#how-to-install .fedena-support {
    color: #0085c8;
    font-weight: bold;
    height: 30px;
    line-height: 1.2em;
    margin: 35px 0 0 30px;
    padding: 0;
    width: 270px;
}
aside#how-to-install .fedena-installation {
    height: 65px;
    line-height: 1.4em;
    margin: 20px 0 0 30px;
    padding: 0;
    width: 270px;
}
aside#how-to-install a.list-of-companies {
    background: url("../img/button-list-of-companies.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 50px;
    margin: 10px 0 0 30px;
    text-indent: -9999px;
    width: 273px;
}
#content {
    box-shadow: 0 1px 0 #FFFFFF;
    height: 530px;
    margin: 0 0 12px;
}
#content #know-fedena {
    border-right: 1px solid #D8D8D8;
    box-shadow: 1px 0 0 #FFFFFF;
    float: left;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 320px;
}
#content #fedena-code-war {
    border-right: 1px solid #D8D8D8;
    box-shadow: 1px 0 0 #FFFFFF;
    float: left;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 319px;
}
#know-fedena h3, #fedena-code-war h3 {
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 1px 0 #FFFFFF;
    font-size: 13px;
    height: 65px;
    margin: 0;
    padding: 40px 0 0 120px;
    text-transform: uppercase;
    width: 200px;
}
#know-fedena h3 {
    background: url("../img/know-fedena.png") no-repeat scroll 0 0 transparent;
}
#fedena-code-war h3 {
    background: url("../img/fedena-code-war.png") no-repeat scroll 0 0 transparent;
}
.content-area {
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 1px 0 #FFFFFF;
    height: 529px;
}
#content .content-area h4 {
    font-size: 13px;
    line-height: 1.3em;
    margin: 20px 30px;
}
#content .content-area p {
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.7em;
    margin: 10px 30px;
}
#content .content-area a {
    font-weight: bold;
}
#side-nav {
    float: left;
}
#side-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#side-nav ul li {
    border-bottom: 1px solid #D8D8D8;
    font-size: 13px;
    font-weight: bold;
    height: 105px;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;
    width: 318px;
}
#side-nav ul li a {
    display: block;
    height: 65px;
    padding: 40px 0 0 120px;
    width: 198px;
}
#side-nav ul li.top-contributors {
    background: url("../img/link-top-contributors.png") no-repeat scroll 0 0 transparent;
}
#side-nav ul li.how-to-contribute {
    background: url("../img/link-how-to-contribute.png") no-repeat scroll 0 0 transparent;
}
#side-nav ul li.download-center {
    background: url("../img/link-download-center.png") no-repeat scroll 0 0 transparent;
}
#side-nav ul li.architecture {
    background: url("../img/link-architecture.png") no-repeat scroll 0 0 transparent;
}
#side-nav ul li.documentation {
    background: url("../img/link-documentation.png") no-repeat scroll 0 0 transparent;
}
#side-nav a:hover {
    color: #757575;
}
#content .recent-forum-topics p {
    font-size: 0.9em;
    line-height: 1.7em;
    margin: 10px 30px;
}
#content .recent-forum-topics a {
    font-weight: bold;
}
.recent-forum-topics {
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 1px 0 #FFFFFF;
    height: 529px;
}
.recent-forum-topics-link {
    color: #757575;
}
