<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Sharepast DAO Test Suite" verbose="1" thread-count="1" preserve-order="true">
    <test name="dao">
        <packages>
            <package name="com.sharepast.tests.dal"/>
        </packages>
    </test>
</suite>

