.form-container {
    margin: 50px auto;
    overflow: auto;
    width: 450px;
}
.form-header {
    background: url("../../img/register-icon.png") no-repeat scroll 0 0 transparent;
}
.form-container .label-and-input {
    overflow: auto;
    padding: 5px 0;
}
.form-container .label-container {
    display: block;
    float: left;
    padding: 0 20px 0 0;
    text-align: right;
    width: 100px;
}
.form-container .input-container {
    float: left;
}
.form-container input[type="text"], .form-container input[type="password"] {
    border: 1px solid #CCCCCC;
}
#user_session_submit {
    background: url("../../img/button-sign-in.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 35px;
    margin: 10px 0 0 120px;
    text-indent: -9999px;
    width: 110px;
}
.form-container h4 {
    border-bottom: 2px solid black;
    color: #0085c8;
    margin: 0 0 30px 30px;
    padding: 5px 0;
    text-align: center;
    width: 300px;
}
#user_is_email_subscribed {
    float: none;
    margin: 15px 0 0;
}
.form-container .email-subscription-label {
    width: 200px;
}
#user_submit {
    background: url("../../img/button-register.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 35px;
    margin: 15px 0 0 150px;
    text-indent: -9999px;
    width: 110px;
}
.form-header a {
    display: block;
    float: right;
    margin-right: 100px;
}